---
layout: default
---

<div class="posts">
    {% for post in paginator.posts %}
    <a class="post-link plain-link" href="{{ post.url | prepend: site.baseurl }}">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>

                <p class="post-meta">
                    {{ post.date | date: "%b %-d, %Y" }}
                </p>

                <p class="post-description">{{ post.excerpt }}</p>
            </header>
        </section>
    </a>
    {% endfor %}
</div>

{% if paginator.previous_page or paginator.next_page %}
<div class="pagination">
    {% if paginator.next_page %}
    <p class="old-posts-paginator"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older posts</a></p>
    {% endif %}
    {% if paginator.previous_page %}
    <p class="new-posts-paginator"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer posts</a></p>
    {% endif %}
    <div class="clearfix"></div>
</div>
{% endif %}
