body {
    font-family: Trebuchet MS, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.name {
    font-size: 2em;
    margin: 0;
}

.job {
    font-size: 1em;
    margin: 0;
}

.email-header {
    font-size: 1em;
}

@media (max-width: 55em) {
    .desktop-only {
        display: none;
    }
}

@media (min-width: 55em) {
    .game-of-life {
        z-index: -1;
        overflow: hidden;
        position: fixed;
        opacity: 0.1;
    }
    .game-of-life-focus {
        opacity: 1;
    }
    .main {
        position: absolute;
        width: 50em;
        top: 50%;
        left: 50%;
        background-color: white;
        border: 3px solid grey;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    .left {
        float: left;
        width: 65%;
    }
    .right {
        float: right;
        width: 35%;
    }
    .about-me {
        padding: 4px;
    }
    .name {
        font-size: 2em;
        margin: 0;
    }
    .job {
        font-size: 1em;
        margin: 0;
    }
    .email-header {
        font-size: 1em;
    }
}
