<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Jordan Drake</title>

    <link rel="stylesheet" href="{{ "/css/pure.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pure-grids.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
</head>
