<div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
        <a class="plain-link" href="{{ '/' | prepend: site.baseurl }}"><img class="avatar" src="{{ '/images/avatar.jpeg' | prepend: site.baseurl }}" /></a>
        <hgroup>
            <a class="plain-link" href="{{ '/' | prepend: site.baseurl }}"><h1 class="brand-title">{{ site.title }}</h1></a>
            <h2 class="brand-tagline">it's too warm</h2>
        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                {% for page in site.pages %}
                {% if page.title %}
                <li class="nav-item">
                    <a class="pure-button" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>

