---
layout: default
---
<section class="post">
    <header class="post-header">
        <h2 class="post-title">{{ page.title }}</h2>
        <p class="post-meta">
            {{ page.date | date: "%b %-d, %Y" }}
            {% if page.author %}
            • {{ page.author }}
            {% endif %}
            {% if page.meta %}
            • {{ page.meta }}
            {% endif %}
        </p>
        <p class="post-description">
            {{ content }}
        </p>
    </header>
</section>
